* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#byron-pic {
  width: 100%;
  height: 25.5em;
}
.row {
  margin-top: 10em;
}
/* #beau {
  left: -20em;
} */
#chase {
  width: 100;
  margin-right: -2em;
  right: -3.5em;
}
#chase-card {
margin: 5px;
}
#scott {
  width: 100%;
  margin-right: 4.5em;
}

#byron-card {
  width: 44%;
  left: 30em;
  bottom: 34.5em;
  margin-bottom: 3px;
  
}
.main-content {
  margin-top: -20em;
  color:  #e27c08 !important;
}
.header {
  color: #6ef5cc;
    font-size: 20pt;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 300px, 600px, 1160px) {
  .col-md-7 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}